<!--The content below is only a placeholder and can be replaced.-->

<!-- <a routerLink="/user">user</a> -->
<!-- <app-user
    [title]="title"
    (titleName)="receiveTitle($event)"
>
</app-user>
{{title}}
<br/>
<br/>
<br/>
<br/>
<br/>
<button type="button" (click)="navigateToUser()">user</button> -->
<button type="button" (click)="sendData()">Send Data</button>
<app-top-area></app-top-area>
<app-side-area></app-side-area>
<app-user
    [headTitle]="title"
    [user]="user"
    (titleName)="receiveTitleName($event)"
>
</app-user>

<router-outlet></router-outlet>
