<!-- <p [ngStyle]="{'background-color': color}">
  user works! {{teacher}}
  <input type='text' [(ngModel)]="teacher">
  <button type="button" (click)="clickButton(teacher)">ok</button>
</p>
<div>
  <table>
    <tr *ngFor="let data of dataName">
      <td>{{data.name}}</td>
    </tr>
  </table>
</div> -->
<table>
  <tr *ngFor="let u of user">
    <td>{{u.userName}}</td>
    <td>{{u.userAge}}</td>
    <td >{{!u.city ? 'bill' : u.city }}</td>
  </tr>
</table>
<h1>{{headTitle}}</h1>
<h5>
  {{message | json}}
</h5>
<h2>{{title}}</h2>
<input type="text" [(ngModel)]="title" />
<p>{{teacher}}</p>
<input type="text" class="enter-text" [(ngModel)]="teacher">
<button type="button" class="update-table" (click)="updateName()">update</button>
<table class="show-info">
  <tr *ngFor="let data of dataName;let i = index">
    <td (click)="callFunction(data.name, i)" *ngIf="size">{{data.name === 'ankur' ? 'yes this is ankur' : data.name}}</td>
  </tr>
</table>

<button type="button" (click)="sendDataToParent()">emit</button>
<!-- <input type="text" [(ngModel)]="message" /> -->

<button type="button" (click)="changeMessage()">change Message</button>