<!-- <p [ngStyle]="{'background-color': color}">
  user works! {{teacher}}
  <input type='text' [(ngModel)]="teacher">
  <button type="button" (click)="clickButton(teacher)">ok</button>
</p>
<div>
  <table>
    <tr *ngFor="let data of dataName">
      <td>{{data.name}}</td>
    </tr>
  </table>
</div> -->
<h2>{{title}}</h2>
<input type="text" [(ngModel)]="title" />
<p>{{teacher}}</p>
<input type="text" [(ngModel)]="teacher">
<button type="button" (click)="updateName()">update</button>
<table>
  <tr *ngFor="let data of dataName;let i = index">
    <td (click)="callFunction(data.name, i)" *ngIf="size">{{data.name === 'ankur' ? 'yes this is ankur' : data.name}}</td>
  </tr>
</table>

<button type="button" (click)="sendDataToParent()">emit</button>